body{
	font-family: arial;
	padding: 0px;
	margin: 0px;
}
.dangnhap{background:black;line-height: 30px;color: white;padding-left: 100px;position: relative;}
.dangnhap1{padding-left: 500px;}
.sdt{padding-right: 30px;}
.dangnhap .icon{width: 20px;margin-top: 5px;margin-bottom: 0px;margin-right: 5px;position: absolute;margin-left: -25px;}
.dangnhap a{
	padding-left: 40px;
	text-decoration: none;
	color: white;
}

.timkiem{width: 1000px;margin: auto;display: flex;}
.timkiem .ttt{position: relative;}
.timkiem .se{height: 30px;width: 500px;margin-left: 60px;top: 25px;margin-top: 23px;border-radius: 10px 0px 0px 10px;}
.timkiem .bt{width: 50px;height:36px;top: 25px;left: 618px;position: absolute;top: 23px;left: 518px;}
.timkiem .imglogo{width: 100px;margin-top: 15px;}
.timkiem .icse{width: 30px;top: 28px;left: 630px;position: absolute;top: 27px;left: 528px;}

.timkiem .menu{padding-top: 5px;padding-left: 70px;}
.timkiem ul{list-style: none;padding:0px;margin: 0px;}
.timkiem .menu ul .cha{position: relative;}
.timkiem .menu ul .cha .giohang img{width: 60px;margin-left: 50px;}

.timkiem .menu ul .cha .con{position: absolute;border: 1px solid black;top: 70px;left: -10px;background: white;display: none;}
.timkiem .menu ul .cha .con .chau{display: flex;}
.timkiem .menu ul .cha:hover .con{display: block;}
.timkiem .menu ul .cha .con .chau .anh{margin: 10px;}
.timkiem .menu ul .cha .con .chau .anh img{width: 100px;}
.timkiem ul .cha .con .chau .info{width: 170px;font-size: 13px;}


.menu1{width: 900px;margin: auto;}
.menu1 .mn{padding: 0px;margin: 0px;list-style: none;display: flex;margin-left: 50px;padding-bottom: 30px;}
.menu1 .mn .cha{margin-right: 60px;margin-top: 30px;}
.menu1 .mn .cha a{text-decoration: none;color: black;font-weight: bold;}
.menu1 .mn .cha a img{width: 15px;}
.menu1 .mn .cha .con{display: none;z-index: 1;}

.qc{width: 1200px;margin: auto;margin-top: 20px;}

.slide{background: url("image/nen.jpg");width: 1200px;margin: auto;padding-bottom: 30px;}
.slide .noidung{display: flex;padding-left: 20px;}
.slide .noidung .khuyenmai{width: 1000px;height: 500px;position: relative;margin-top:10px;position: relative;}
.slide .noidung .khuyenmai > img{width: 600px;height: 500px;margin-left: 150px;}
.slide .khuyenmai .chu{position: absolute;bottom: -1px;left: 0px;width: 900px;height: 100px;margin:auto;background: rgba(0,0,0,0.6);}
.slide .khuyenmai .chu h2{color: red;text-align: center;}
.slide .khuyenmai .chu h3{color: white;text-align: center;}
.slide .noidung .phai{width: 300px;height: 300px;}
.slide .noidung .phai .phaitren img{width: 200px;height: 140px;margin-left: 60px;margin-top: 10px;margin-bottom: 25px;border:1px solid black;}
.next, .prev{position: absolute;width: 100px; background-color: rgba(0,0,0,0.6);color:white;text-align: center;line-height: 40px;top: 200px;cursor: pointer;display: none;border-radius: 50%;}
.slide .noidung .khuyenmai:hover .next {display: block;}
.slide .noidung .khuyenmai:hover .prev{display: block;}
.next{right: 0px;}

.sanpham{width: 1200px;background: url("image/nen.jpg");margin: auto;padding-bottom: 50px;}
.sanpham .chu{margin:auto;text-align: center;line-height: 50px;background: url("image/nen2.jpg");font-weight: bold;font-size: 30px;color: white;}
.sanpham .spnoibat{width: 1200px;margin: auto;}
.sanpham .spnoibat ul{padding: 0px; margin: 0px;list-style: none;display: flex;}
.sanpham .spnoibat ul li{font-weight: bold;margin-left: 9px;}
.sanpham .spnoibat ul li img{width: 180px;height: 300px;margin:9px;margin-left: 0px;border: 1px solid black;}
.sanpham .spnoibat ul li .star .starr{width: 20px;height: auto;border:none;}
.sanpham .spnoibat ul li .giam{border: 1px solid yellow;border-radius: 10px;background: yellow;width: 130px;height: 30px;text-align: center;line-height: 30px;}
.spnoibat ul li .tensp{color: #4d4d4d;font-size: 17px;margin-bottom: 15px;}
.spnoibat ul li .gia{color: red;font-size: 13px;}
.spnoibat ul li .gia .giacu{margin-left: 25px;color: #bbbbbb;text-decoration: line-through;}
.spnoibat ul li .tensp a{text-decoration: none;}
.spnoibat ul li .tensp a:hover{text-decoration: underline;}
.sanpham .sapxep{margin-top: 10px;margin-bottom: 10px;}
.sanpham .sapxep select{border: 1px solid red;height: 30px;margin-left: 700px;}

.danhmuc{width: 1200px;margin: auto;background: url("image/nen.jpg");padding-top: 30px;display: flex;}
.danhmuc .dmtrai{width: 250px;}
.danhmuc .dmtrai .tktheogia .chutk{line-height: 30px;font-weight: bold;border:1px solid black;background:#A8D4FF ;color: black;text-align: center;}
.danhmuc .dmtrai .tktheogia .tkct{height: 250px;border: 1px solid black;}
.danhmuc .dmtrai .tktheogia .tkct .tu{padding-top: 40px;padding-left: 10px;}
.danhmuc .dmtrai .tktheogia .tkct .den{padding-top: 40px;padding-left: 25px;}
.danhmuc .dmtrai .tktheogia .tkct .bt{padding-top: 70px;padding-left: 75px;}

.danhmuc .dmphai{width: 950px;}
.danhmuc .dmphai .sanpham{width: 900px;margin:auto;}
.danhmuc .dmphai .sanpham .spnoibat{width: 900px;}

.footer{background: url("image/nen.jpg");margin: auto;}
.bfooter{display: inline-block;margin-left: 170px;}
.footer ul{padding: 0px;margin:0px;list-style: none;display: flex;margin-top: 30px;}
.footer ul li{width: 240px;margin-top: 15px;}
.footer ul li .nd{color: black;font-size: 20px;font-weight: bold;line-height: 25px;text-align: center;border-bottom: 2px solid black;width: 210px;margin-left: 20px;margin-right: 20px;}
.footer ul li .nd2{text-align: center;}
.footer ul li .nd2 a{padding: 0px;margin:0px;text-decoration: none;color: black;font-weight: bold;font-size: 14px;line-height: 30px;}
.footer ul li .nd2 a:hover{color:red;}


.ctchu{width: 1200px;height: 30px;border-bottom: 3px solid #bbbbbb;line-height: 30px;font-size: 20px;font-weight: bold;margin-top: 10px;margin: auto;}
.ctnoidung{display: flex;width: 1200px;margin: auto;background: url("image/nen.jpg");padding-top: 15px;padding-bottom: 15px;}
.ctnoidung .cttrai{width: 800px;display: flex;}
.ctnoidung .ctphai{width: 400px;}
.cttrai .cttraitrai{width: 500px;text-align: center;margin-top: 20px;position: relative;}
.cttrai .cttraitrai img{height: 400px;width: 400px;}
.nex, .pre{position: absolute;width: 100px; background-color: rgba(0,0,0,0.6);color:white;text-align: center;line-height: 40px;top: 200px;cursor: pointer;border-radius: 50%;display: none;}
.cttrai .cttraitrai:hover .nex{display: block;}
.cttrai .cttraitrai:hover .pre{display: block;}
.nex{right: 0px;}
.cttrai .cttraiphai{width: 400px;margin-left: 10px;margin-top: 20px;padding-left: 30px;}
.cttrai .cttraiphai .from{font-weight: bold;}
.cttrai .cttraiphai .from select{width: 70px;height: 30px;margin-top: 10px;display: inline;}
.cttrai .cttraiphai .ctgia{color: red;font-size: 20px;margin-top: 40px;margin-left: 20px;font-weight: bold;}
.cttrai .cttraiphai .ctgia .giacu{margin-left: 25px;color: #bbbbbb;text-decoration: line-through;padding: 0px;margin:0px;font-size: 15px;}
.cttraiphai .ctmau .chumau{font-weight: bold;font-size: 15px;margin-top: 50px;}
.cttraiphai .ctmau .chonmau{margin-top: 20px;}
.cttraiphai .ctmau .chonmau select{width: 180px;height: 50px;text-align: center;font-weight: bold;}
.ctduoi{margin-top: 80px;margin-left: 20px;}
.ctduoi input{width: 150px;height: 40px;color: red;background: yellow;}
.ctduoi input:hover{color: yellow;background: red;}
.ctphai{width: 300px;}
.ctphai .mota{width: 400px;background: blue;line-height: 40px;color: white;font-weight: bold;font-size: 20px;text-align: center;margin-top: 20px;margin-bottom: 20px;}
.ctphai .ctmota{width: 380px;margin:auto;text-align: justify;}